*
{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

h2, h3, h4, #socialmediaicons > i
{
	color:#CC3333;
}

#logo, h1
{
	float:left;
	height:1.2em;
}

h1
{
	margin-top:0;
	margin-left:0.25em;
	line-height:0.8;
	font-size:1.4em;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li:hover > a
{
	color:white;
}

.navbar-default .navbar-nav > li:hover, .btn-primary:hover
{
	background:#E66464;
	border-color:#E66464;
}

.navbar-default .navbar-nav > li.active > a, .btn-primary
{
	background-color:#CC3333;
	border-color:#CC3333;
}

.right-align
{
	text-align:right;
}

.centre
{
	text-align:center;
}

#message
{
	display:none;
}

.carousel > .carousel-inner > .item > img 
{
	margin: 0 auto;
	width: 100%;
}

img.thumbnail
{
	width:8em;
}

.tab-pane
{
	padding:1em;
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

@media only screen and (max-width: 62em) /* 982/16 */
{

}

@media print
{

}